index.php
twentytwentyone/.stylelintignore
twentytwentyone/.stylelintrc-css.json
twentytwentyone/.stylelintrc.json
twentytwentyone/404.php
twentytwentyone/archive.php
twentytwentyone/comments.php
twentytwentyone/footer.php
twentytwentyone/functions.php
twentytwentyone/header.php
twentytwentyone/image.php
twentytwentyone/index.php
twentytwentyone/package-lock.json
twentytwentyone/package.json
twentytwentyone/page.php
twentytwentyone/postcss.config.js
twentytwentyone/readme.txt
twentytwentyone/screenshot.png
twentytwentyone/search.php
twentytwentyone/searchform.php
twentytwentyone/single.php
twentytwentyone/style-rtl.css
twentytwentyone/style.css
twentytwentyone/assets/css/custom-color-overrides.css
twentytwentyone/assets/css/ie-editor.css
twentytwentyone/assets/css/ie.css
twentytwentyone/assets/css/print.css
twentytwentyone/assets/css/style-dark-mode-rtl.css
twentytwentyone/assets/css/style-dark-mode.css
twentytwentyone/assets/css/style-editor-customizer.css
twentytwentyone/assets/css/style-editor.css
twentytwentyone/assets/images/Daffodils.jpg
twentytwentyone/assets/images/in-the-bois-de-boulogne.jpg
twentytwentyone/assets/images/playing-in-the-sand.jpg
twentytwentyone/assets/images/Reading.jpg
twentytwentyone/assets/images/roses-tremieres-hollyhocks-1884.jpg
twentytwentyone/assets/images/self-portrait-1885.jpg
twentytwentyone/assets/images/the-garden-at-bougival-1884.jpg
twentytwentyone/assets/images/villa-with-orange-trees-nice.jpg
twentytwentyone/assets/images/young-woman-in-mauve.jpg
twentytwentyone/assets/js/customize-helpers.js
twentytwentyone/assets/js/customize-preview.js
twentytwentyone/assets/js/customize.js
twentytwentyone/assets/js/dark-mode-toggler.js
twentytwentyone/assets/js/editor-dark-mode-support.js
twentytwentyone/assets/js/editor.js
twentytwentyone/assets/js/palette-colorpicker.js
twentytwentyone/assets/js/polyfills.js
twentytwentyone/assets/js/primary-navigation.js
twentytwentyone/assets/js/responsive-embeds.js
twentytwentyone/assets/js/skip-link-focus-fix.js
twentytwentyone/assets/sass/style-dark-mode.scss
twentytwentyone/assets/sass/style-editor.scss
twentytwentyone/assets/sass/style.scss
twentytwentyone/assets/sass/01-settings/file-header.scss
twentytwentyone/assets/sass/01-settings/fonts.scss
twentytwentyone/assets/sass/01-settings/global.scss
twentytwentyone/assets/sass/02-tools/functions.scss
twentytwentyone/assets/sass/02-tools/mixins.scss
twentytwentyone/assets/sass/03-generic/breakpoints.scss
twentytwentyone/assets/sass/03-generic/clearings.scss
twentytwentyone/assets/sass/03-generic/normalize.scss
twentytwentyone/assets/sass/03-generic/reset.scss
twentytwentyone/assets/sass/03-generic/vertical-margins.scss
twentytwentyone/assets/sass/04-elements/blockquote.scss
twentytwentyone/assets/sass/04-elements/forms-editor.scss
twentytwentyone/assets/sass/04-elements/forms.scss
twentytwentyone/assets/sass/04-elements/links.scss
twentytwentyone/assets/sass/04-elements/media.scss
twentytwentyone/assets/sass/04-elements/misc.scss
twentytwentyone/assets/sass/05-blocks/_config.scss
twentytwentyone/assets/sass/05-blocks/blocks-editor.scss
twentytwentyone/assets/sass/05-blocks/blocks.scss
twentytwentyone/assets/sass/05-blocks/audio/_style.scss
twentytwentyone/assets/sass/05-blocks/button/_editor.scss
twentytwentyone/assets/sass/05-blocks/button/_style.scss
twentytwentyone/assets/sass/05-blocks/code/_editor.scss
twentytwentyone/assets/sass/05-blocks/code/_style.scss
twentytwentyone/assets/sass/05-blocks/columns/_editor.scss
twentytwentyone/assets/sass/05-blocks/columns/_style.scss
twentytwentyone/assets/sass/05-blocks/cover/_editor.scss
twentytwentyone/assets/sass/05-blocks/cover/_style.scss
twentytwentyone/assets/sass/05-blocks/file/_editor.scss
twentytwentyone/assets/sass/05-blocks/file/_style.scss
twentytwentyone/assets/sass/05-blocks/gallery/_editor.scss
twentytwentyone/assets/sass/05-blocks/gallery/_style.scss
twentytwentyone/assets/sass/05-blocks/group/_editor.scss
twentytwentyone/assets/sass/05-blocks/group/_style.scss
twentytwentyone/assets/sass/05-blocks/heading/_editor.scss
twentytwentyone/assets/sass/05-blocks/heading/_style.scss
twentytwentyone/assets/sass/05-blocks/html/_editor.scss
twentytwentyone/assets/sass/05-blocks/image/_editor.scss
twentytwentyone/assets/sass/05-blocks/image/_style.scss
twentytwentyone/assets/sass/05-blocks/latest-comments/_editor.scss
twentytwentyone/assets/sass/05-blocks/latest-comments/_style.scss
twentytwentyone/assets/sass/05-blocks/latest-posts/_editor.scss
twentytwentyone/assets/sass/05-blocks/latest-posts/_style.scss
twentytwentyone/assets/sass/05-blocks/legacy/_editor.scss
twentytwentyone/assets/sass/05-blocks/legacy/_style.scss
twentytwentyone/assets/sass/05-blocks/list/_editor.scss
twentytwentyone/assets/sass/05-blocks/list/_style.scss
twentytwentyone/assets/sass/05-blocks/media-text/_editor.scss
twentytwentyone/assets/sass/05-blocks/media-text/_style.scss
twentytwentyone/assets/sass/05-blocks/navigation/_editor.scss
twentytwentyone/assets/sass/05-blocks/navigation/_style.scss
twentytwentyone/assets/sass/05-blocks/paragraph/_editor.scss
twentytwentyone/assets/sass/05-blocks/paragraph/_style.scss
twentytwentyone/assets/sass/05-blocks/preformatted/_editor.scss
twentytwentyone/assets/sass/05-blocks/preformatted/_style.scss
twentytwentyone/assets/sass/05-blocks/pullquote/_editor.scss
twentytwentyone/assets/sass/05-blocks/pullquote/_style.scss
twentytwentyone/assets/sass/05-blocks/query-loop/_editor.scss
twentytwentyone/assets/sass/05-blocks/query-loop/_style.scss
twentytwentyone/assets/sass/05-blocks/quote/_editor.scss
twentytwentyone/assets/sass/05-blocks/quote/_style.scss
twentytwentyone/assets/sass/05-blocks/rss/_editor.scss
twentytwentyone/assets/sass/05-blocks/rss/_style.scss
twentytwentyone/assets/sass/05-blocks/search/_editor.scss
twentytwentyone/assets/sass/05-blocks/search/_style.scss
twentytwentyone/assets/sass/05-blocks/separator/_editor.scss
twentytwentyone/assets/sass/05-blocks/separator/_style.scss
twentytwentyone/assets/sass/05-blocks/social-icons/_editor.scss
twentytwentyone/assets/sass/05-blocks/social-icons/_style.scss
twentytwentyone/assets/sass/05-blocks/table/_editor.scss
twentytwentyone/assets/sass/05-blocks/table/_style.scss
twentytwentyone/assets/sass/05-blocks/tag-clould/_editor.scss
twentytwentyone/assets/sass/05-blocks/tag-clould/_style.scss
twentytwentyone/assets/sass/05-blocks/utilities/_editor.scss
twentytwentyone/assets/sass/05-blocks/utilities/_font-sizes.scss
twentytwentyone/assets/sass/05-blocks/utilities/_style.scss
twentytwentyone/assets/sass/05-blocks/verse/_editor.scss
twentytwentyone/assets/sass/05-blocks/verse/_style.scss
twentytwentyone/assets/sass/05-blocks/video/_style.scss
twentytwentyone/assets/sass/06-components/404.scss
twentytwentyone/assets/sass/06-components/archives.scss
twentytwentyone/assets/sass/06-components/comments.scss
twentytwentyone/assets/sass/06-components/editor.scss
twentytwentyone/assets/sass/06-components/entry.scss
twentytwentyone/assets/sass/06-components/footer-navigation.scss
twentytwentyone/assets/sass/06-components/footer.scss
twentytwentyone/assets/sass/06-components/header.scss
twentytwentyone/assets/sass/06-components/navigation.scss
twentytwentyone/assets/sass/06-components/pagination.scss
twentytwentyone/assets/sass/06-components/posts-and-pages.scss
twentytwentyone/assets/sass/06-components/search.scss
twentytwentyone/assets/sass/06-components/single.scss
twentytwentyone/assets/sass/06-components/widgets.scss
twentytwentyone/assets/sass/07-utilities/a11y.scss
twentytwentyone/assets/sass/07-utilities/color-palette.scss
twentytwentyone/assets/sass/07-utilities/ie.scss
twentytwentyone/assets/sass/07-utilities/measure.scss
twentytwentyone/assets/sass/07-utilities/print.scss
twentytwentyone/classes/class-twenty-twenty-one-custom-colors.php
twentytwentyone/classes/class-twenty-twenty-one-customize-color-control.php
twentytwentyone/classes/class-twenty-twenty-one-customize-notice-control.php
twentytwentyone/classes/class-twenty-twenty-one-customize.php
twentytwentyone/classes/class-twenty-twenty-one-dark-mode.php
twentytwentyone/classes/class-twenty-twenty-one-svg-icons.php
twentytwentyone/inc/back-compat.php
twentytwentyone/inc/block-patterns.php
twentytwentyone/inc/block-styles.php
twentytwentyone/inc/custom-css.php
twentytwentyone/inc/menu-functions.php
twentytwentyone/inc/starter-content.php
twentytwentyone/inc/template-functions.php
twentytwentyone/inc/template-tags.php
twentytwentyone/template-parts/content/content-excerpt.php
twentytwentyone/template-parts/content/content-none.php
twentytwentyone/template-parts/content/content-page.php
twentytwentyone/template-parts/content/content-single.php
twentytwentyone/template-parts/content/content.php
twentytwentyone/template-parts/excerpt/excerpt-aside.php
twentytwentyone/template-parts/excerpt/excerpt-audio.php
twentytwentyone/template-parts/excerpt/excerpt-chat.php
twentytwentyone/template-parts/excerpt/excerpt-gallery.php
twentytwentyone/template-parts/excerpt/excerpt-image.php
twentytwentyone/template-parts/excerpt/excerpt-link.php
twentytwentyone/template-parts/excerpt/excerpt-quote.php
twentytwentyone/template-parts/excerpt/excerpt-status.php
twentytwentyone/template-parts/excerpt/excerpt-video.php
twentytwentyone/template-parts/excerpt/excerpt.php
twentytwentyone/template-parts/footer/footer-widgets.php
twentytwentyone/template-parts/header/entry-header.php
twentytwentyone/template-parts/header/excerpt-header.php
twentytwentyone/template-parts/header/site-branding.php
twentytwentyone/template-parts/header/site-header.php
twentytwentyone/template-parts/header/site-nav.php
twentytwentyone/template-parts/post/author-bio.php
twentytwentythree/readme.txt
twentytwentythree/screenshot.png
twentytwentythree/style.css
twentytwentythree/theme.json
twentytwentythree/assets/fonts/dm-sans/DMSans-Bold-Italic.woff2
twentytwentythree/assets/fonts/dm-sans/DMSans-Bold.woff2
twentytwentythree/assets/fonts/dm-sans/DMSans-Regular-Italic.woff2
twentytwentythree/assets/fonts/dm-sans/DMSans-Regular.woff2
twentytwentythree/assets/fonts/dm-sans/LICENSE.txt
twentytwentythree/assets/fonts/ibm-plex-mono/IBMPlexMono-Bold.woff2
twentytwentythree/assets/fonts/ibm-plex-mono/IBMPlexMono-Italic.woff2
twentytwentythree/assets/fonts/ibm-plex-mono/IBMPlexMono-Light.woff2
twentytwentythree/assets/fonts/ibm-plex-mono/IBMPlexMono-Regular.woff2
twentytwentythree/assets/fonts/ibm-plex-mono/OFL.txt
twentytwentythree/assets/fonts/inter/Inter-VariableFont_slnt,wght.ttf
twentytwentythree/assets/fonts/inter/LICENSE.txt
twentytwentythree/assets/fonts/source-serif-pro/LICENSE.md
twentytwentythree/assets/fonts/source-serif-pro/SourceSerif4Variable-Italic.otf.woff2
twentytwentythree/assets/fonts/source-serif-pro/SourceSerif4Variable-Italic.ttf.woff2
twentytwentythree/assets/fonts/source-serif-pro/SourceSerif4Variable-Roman.otf.woff2
twentytwentythree/assets/fonts/source-serif-pro/SourceSerif4Variable-Roman.ttf.woff2
twentytwentythree/parts/comments.html
twentytwentythree/parts/footer.html
twentytwentythree/parts/header.html
twentytwentythree/parts/post-meta.html
twentytwentythree/patterns/call-to-action.php
twentytwentythree/patterns/footer-default.php
twentytwentythree/patterns/hidden-404.php
twentytwentythree/patterns/hidden-comments.php
twentytwentythree/patterns/hidden-no-results.php
twentytwentythree/patterns/post-meta.php
twentytwentythree/styles/aubergine.json
twentytwentythree/styles/block-out.json
twentytwentythree/styles/canary.json
twentytwentythree/styles/electric.json
twentytwentythree/styles/grapes.json
twentytwentythree/styles/marigold.json
twentytwentythree/styles/pilgrimage.json
twentytwentythree/styles/pitch.json
twentytwentythree/styles/sherbet.json
twentytwentythree/styles/whisper.json
twentytwentythree/templates/404.html
twentytwentythree/templates/archive.html
twentytwentythree/templates/blank.html
twentytwentythree/templates/blog-alternative.html
twentytwentythree/templates/home.html
twentytwentythree/templates/index.html
twentytwentythree/templates/page.html
twentytwentythree/templates/search.html
twentytwentythree/templates/single.html
twentytwentytwo/functions.php
twentytwentytwo/index.php
twentytwentytwo/readme.txt
twentytwentytwo/screenshot.png
twentytwentytwo/style.css
twentytwentytwo/theme.json
twentytwentytwo/assets/fonts/SourceSerif4Variable-Italic.otf.woff2
twentytwentytwo/assets/fonts/SourceSerif4Variable-Italic.ttf.woff2
twentytwentytwo/assets/fonts/SourceSerif4Variable-Roman.otf.woff2
twentytwentytwo/assets/fonts/SourceSerif4Variable-Roman.ttf.woff2
twentytwentytwo/assets/fonts/dm-sans/DMSans-Bold.ttf
twentytwentytwo/assets/fonts/dm-sans/DMSans-BoldItalic.ttf
twentytwentytwo/assets/fonts/dm-sans/DMSans-Italic.ttf
twentytwentytwo/assets/fonts/dm-sans/DMSans-Regular.ttf
twentytwentytwo/assets/fonts/dm-sans/LICENSE.txt
twentytwentytwo/assets/fonts/ibm-plex/IBMPlexMono-Bold.woff2
twentytwentytwo/assets/fonts/ibm-plex/IBMPlexMono-BoldItalic.woff2
twentytwentytwo/assets/fonts/ibm-plex/IBMPlexMono-Text.woff2
twentytwentytwo/assets/fonts/ibm-plex/IBMPlexMono-TextItalic.woff2
twentytwentytwo/assets/fonts/ibm-plex/IBMPlexSans-ExtraLight.woff2
twentytwentytwo/assets/fonts/ibm-plex/IBMPlexSans-ExtraLightItalic.woff2
twentytwentytwo/assets/fonts/ibm-plex/IBMPlexSans-Light.woff2
twentytwentytwo/assets/fonts/ibm-plex/IBMPlexSans-LightItalic.woff2
twentytwentytwo/assets/fonts/ibm-plex/LICENSE.txt
twentytwentytwo/assets/fonts/inter/Inter.ttf
twentytwentytwo/assets/fonts/inter/LICENSE.txt
twentytwentytwo/assets/fonts/source-serif-pro/LICENSE.md
twentytwentytwo/assets/fonts/source-serif-pro/SourceSerif4Variable-Italic.otf.woff2
twentytwentytwo/assets/fonts/source-serif-pro/SourceSerif4Variable-Italic.ttf.woff2
twentytwentytwo/assets/fonts/source-serif-pro/SourceSerif4Variable-Roman.otf.woff2
twentytwentytwo/assets/fonts/source-serif-pro/SourceSerif4Variable-Roman.ttf.woff2
twentytwentytwo/assets/images/bird-on-black.jpg
twentytwentytwo/assets/images/bird-on-gray.jpg
twentytwentytwo/assets/images/bird-on-green.jpg
twentytwentytwo/assets/images/bird-on-salmon.jpg
twentytwentytwo/assets/images/divider-black.png
twentytwentytwo/assets/images/divider-white.png
twentytwentytwo/assets/images/ducks.jpg
twentytwentytwo/assets/images/flight-path-on-gray-a.jpg
twentytwentytwo/assets/images/flight-path-on-gray-b.jpg
twentytwentytwo/assets/images/flight-path-on-gray-c.jpg
twentytwentytwo/assets/images/flight-path-on-salmon.jpg
twentytwentytwo/assets/images/flight-path-on-transparent-a.png
twentytwentytwo/assets/images/flight-path-on-transparent-b.png
twentytwentytwo/assets/images/flight-path-on-transparent-c.png
twentytwentytwo/assets/images/flight-path-on-transparent-d.png
twentytwentytwo/assets/images/icon-binoculars.png
twentytwentytwo/assets/images/icon-bird.jpg
twentytwentytwo/assets/videos/birds.mp4
twentytwentytwo/inc/block-patterns.php
twentytwentytwo/inc/patterns/footer-about-title-logo.php
twentytwentytwo/inc/patterns/footer-blog.php
twentytwentytwo/inc/patterns/footer-dark.php
twentytwentytwo/inc/patterns/footer-default.php
twentytwentytwo/inc/patterns/footer-logo.php
twentytwentytwo/inc/patterns/footer-navigation-copyright.php
twentytwentytwo/inc/patterns/footer-navigation.php
twentytwentytwo/inc/patterns/footer-query-images-title-citation.php
twentytwentytwo/inc/patterns/footer-query-title-citation.php
twentytwentytwo/inc/patterns/footer-social-copyright.php
twentytwentytwo/inc/patterns/footer-title-tagline-social.php
twentytwentytwo/inc/patterns/general-divider-dark.php
twentytwentytwo/inc/patterns/general-divider-light.php
twentytwentytwo/inc/patterns/general-featured-posts.php
twentytwentytwo/inc/patterns/general-image-with-caption.php
twentytwentytwo/inc/patterns/general-large-list-names.php
twentytwentytwo/inc/patterns/general-layered-images-with-duotone.php
twentytwentytwo/inc/patterns/general-list-events.php
twentytwentytwo/inc/patterns/general-pricing-table.php
twentytwentytwo/inc/patterns/general-subscribe.php
twentytwentytwo/inc/patterns/general-two-images-text.php
twentytwentytwo/inc/patterns/general-video-header-details.php
twentytwentytwo/inc/patterns/general-video-trailer.php
twentytwentytwo/inc/patterns/general-wide-image-intro-buttons.php
twentytwentytwo/inc/patterns/header-centered-logo-black-background.php
twentytwentytwo/inc/patterns/header-centered-logo.php
twentytwentytwo/inc/patterns/header-centered-title-navigation-social.php
twentytwentytwo/inc/patterns/header-default.php
twentytwentytwo/inc/patterns/header-image-background-overlay.php
twentytwentytwo/inc/patterns/header-image-background.php
twentytwentytwo/inc/patterns/header-large-dark.php
twentytwentytwo/inc/patterns/header-logo-navigation-gray-background.php
twentytwentytwo/inc/patterns/header-logo-navigation-offset-tagline.php
twentytwentytwo/inc/patterns/header-logo-navigation-social-black-background.php
twentytwentytwo/inc/patterns/header-small-dark.php
twentytwentytwo/inc/patterns/header-stacked.php
twentytwentytwo/inc/patterns/header-text-only-green-background.php
twentytwentytwo/inc/patterns/header-text-only-salmon-background.php
twentytwentytwo/inc/patterns/header-text-only-with-tagline-black-background.php
twentytwentytwo/inc/patterns/header-title-and-button.php
twentytwentytwo/inc/patterns/header-title-navigation-social.php
twentytwentytwo/inc/patterns/header-with-tagline.php
twentytwentytwo/inc/patterns/hidden-404.php
twentytwentytwo/inc/patterns/hidden-bird.php
twentytwentytwo/inc/patterns/hidden-heading-and-bird.php
twentytwentytwo/inc/patterns/page-about-large-image-and-buttons.php
twentytwentytwo/inc/patterns/page-about-links-dark.php
twentytwentytwo/inc/patterns/page-about-links.php
twentytwentytwo/inc/patterns/page-about-media-left.php
twentytwentytwo/inc/patterns/page-about-media-right.php
twentytwentytwo/inc/patterns/page-about-simple-dark.php
twentytwentytwo/inc/patterns/page-about-solid-color.php
twentytwentytwo/inc/patterns/page-layout-image-and-text.php
twentytwentytwo/inc/patterns/page-layout-image-text-and-video.php
twentytwentytwo/inc/patterns/page-layout-two-columns.php
twentytwentytwo/inc/patterns/page-sidebar-blog-posts-right.php
twentytwentytwo/inc/patterns/page-sidebar-blog-posts.php
twentytwentytwo/inc/patterns/page-sidebar-grid-posts.php
twentytwentytwo/inc/patterns/page-sidebar-poster.php
twentytwentytwo/inc/patterns/query-default.php
twentytwentytwo/inc/patterns/query-grid.php
twentytwentytwo/inc/patterns/query-image-grid.php
twentytwentytwo/inc/patterns/query-irregular-grid.php
twentytwentytwo/inc/patterns/query-large-titles.php
twentytwentytwo/inc/patterns/query-simple-blog.php
twentytwentytwo/inc/patterns/query-text-grid.php
twentytwentytwo/parts/footer.html
twentytwentytwo/parts/header-large-dark.html
twentytwentytwo/parts/header-small-dark.html
twentytwentytwo/parts/header.html
twentytwentytwo/styles/blue.json
twentytwentytwo/styles/pink.json
twentytwentytwo/styles/swiss.json
twentytwentytwo/templates/404.html
twentytwentytwo/templates/archive.html
twentytwentytwo/templates/blank.html
twentytwentytwo/templates/home.html
twentytwentytwo/templates/index.html
twentytwentytwo/templates/page-large-header.html
twentytwentytwo/templates/page-no-separators.html
twentytwentytwo/templates/page.html
twentytwentytwo/templates/search.html
twentytwentytwo/templates/single-no-separators.html
twentytwentytwo/templates/single.html
